body {
    background-color:#F0F0F0;
 }
 .logo_samu {
   margin-bottom: 0.5rem;
 }
 
h4 {
    color:#303030;
    font-family: Helvetica;
    margin-bottom: 1rem;
}
.fx-top {
 background-color:#CC5521;
        height: 2.5rem;
        margin-bottom: 1rem;
}

.btn-primary {
    border-color: #000000;
    background-color: #041b33;
    margin-top: 2rem ;
}

.btn-primary:hover {
    border-color: #161616;
    background-color: #052c55;
    margin-top: 2rem ;
}

.btn-primary:not(:disabled):not(.disabled):active{
    color: #fff;
    background-color: #020d1a;
    border-color: #111111;
}

.btn-primary:focus {
    color: #fff;
    background-color: #020d1a;
    border-color: #141414;
    box-shadow: 0 0 0 .2rem rgb(200 211 223 / 50%);
}

.table .thead-dark th {
    color: #fff;
    background-color: #041b33;
    border-color: #454d55;
}
